h1{
color: rgb(60, 255, 0);
border-width: 2px;
border-style: solid;
border-color: crimson;
}
body{
    background-color: darkgrey;
}
h1{
    background-color: rgb(24, 45,88);
    font-weight: bolder;
}
footer{
    color:#121312
}
#box{
    background-color: blue;
    height: 50px;
    color: aliceblue;
    width: 300px;
   /* border-width: 4px;
    border-style: solid;
    border-color: gold;*/
    border: 3px solid brown;
    border-radius: 10%;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 11px;

}
.heading{
    color: red;
    text-decoration:underline; 
    text-align: center;
    line-height: normal; 
}
a{
    text-decoration: none;
    font-weight: 600;
}
div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
#navbar{
   height: 60px; 
   background-color: #f5f2f2;

}